mixin membership(data)
  a.membership__item(href!=data.section)
    .membership__item-info
      .membership__item-icon
        img(src='img/' + data.img alt="")
      .membership__item-title!=data.name

mixin expert(data)
  .swiper-slide
    .experts__item
      .experts__item-photo
        img(src='img/' + data.img alt="")
      .experts__item-info
        .experts__item-info__top
          .experts__item-title!=data.name
          .experts__item-position!=data.position
        a.experts__item-link(href='#') View CV

mixin plan(data)
  .col-12.col-md-6.col-lg-3
    .plans__item
      .plans__item-name!=data.name
      .plans__item-text!=data.text
      .plans__item-price!=data.price
      .plans__item-price__text!=data.priceText
      a.plans__item-button.button.button--orange Join Now
      .plans__item-note!=data.note

mixin who(data)
  .col-12.col-md-6.col-lg-3
    a.who__item(href="#")
      .who__item-image
        img(src='img/' + data.img alt="")
      .who__item-title
        span!=data.name

mixin about(data)
  .col-12.col-md-6.col-lg-4
    .about__item
      .about__item-top
        .about__item-num
          span!=data.number
        .about__item-icon
          img(src='img/' + data.img alt="")
      .about__item-info
        .about__item-title!=data.name
        .about__item-text!=data.text

mixin partner(data)
  .partners__item
    img(src='img/' + data.img alt="" loading="lazy")
